<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Composer Authenticated Repository Plugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="var/phpunit/coverage"/>
            <text outputFile="var/phpunit/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit> 
